.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav a {
  color: #000;
  display: inline-block;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: none;
}